In [23]:
#Importing libaries
import pandas as pd
import numpy as np
import sklearn as skit
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import joblib
from sklearn.svm import SVC

In [24]:
#Data cleaning and Proccessing

In [25]:
df = pd.read_csv('Social_Network_Ads.csv')

In [26]:
df.head

<bound method NDFrame.head of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

In [27]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [28]:
df.shape

(400, 5)

In [29]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [30]:
#there is no missing values

In [31]:
# Encoding categorical data
# Encoding categorical data
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])  # Convert Gender to numeric
# Feature scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[['Age', 'EstimatedSalary', 'Gender']])

In [32]:
X = scaled_features
y = df['Purchased'].values

In [33]:
X.shape

(400, 3)

In [34]:
y.shape

(400,)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [36]:
# Bulding the model
svm_model = SVC()
svm_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_test = svm_model.predict(X_test)

In [37]:
# Evaluate the model on the test set
accuracy_test = accuracy_score(y_test, y_pred_test)
precision_test = precision_score(y_test, y_pred_test)
recall_test = recall_score(y_test, y_pred_test)
f1_test = f1_score(y_test, y_pred_test)
conf_matrix_test = confusion_matrix(y_test, y_pred_test)

In [38]:
print('accurac score :', accuracy_test)
print('precision_test :', precision_test)
print('f1test :', f1_test)

accurac score : 0.9375
precision_test : 0.92
f1test : 0.9019607843137255

In [39]:
# Save the model
joblib.dump(svm_model, 'svm_model.joblib')

# Save the preprocessors
joblib.dump(scaler, 'scaler.joblib')
joblib.dump(le, 'le.joblib')

['le.joblib']

In [41]:
# Now, for the prediction part with user inputs
def predict_purchase(age, salary, gender):
    gender_encoded = le.transform([gender])[0]  
        
    user_features = np.array([[age, salary, gender_encoded]])
    user_features_scaled = scaler.transform(user_features)
    
    
    prediction = svm_model.predict(user_features_scaled)
    
    
    if prediction[0] == 1:
        print("The model predicts the user will make a purchase.")
    else:
        print("The model predicts the user will not make a purchase.")

# Example of how to use this function:
user_age = input('Enter the Age : ')  
user_salary = input('Enter the Salary : ')  
user_gender = input('Maler or Female : ') 

predict_purchase(user_age, user_salary, user_gender)

Enter the Age : 32
Enter the Salary : 150000
Maler or Female : Female
The model predicts the user will make a purchase.

C:\Users\ym221\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(